Step 4 - Climate App

Now that you have completed your initial analysis, design a Flask api based on the queries that you have just developed.

* Use FLASK to create your routes.

### Routes

* `/api/v1.0/precipitation`

  * Query for the dates and temperature observations from the last year.

  * Convert the query results to a Dictionary using `date` as the key and `tobs` as the value.

  * Return the json representation of your dictionary.

* `/api/v1.0/stations`

  * Return a json list of stations from the dataset.

* `/api/v1.0/tobs`

  * Return a json list of Temperature Observations (tobs) for the previous year

* `/api/v1.0/<start>` and `/api/v1.0/<start>/<end>`

  * Return a json list of the minimum temperature, the average temperature, and the max temperature for a given start or start-end range.

  * When given the start only, calculate `TMIN`, `TAVG`, and `TMAX` for all dates greater than and equal to the start date.

  * When given the start and the end date, calculate the `TMIN`, `TAVG`, and `TMAX` for dates between the start and end date inclusive.

## Hints

* You will need to join the station and measurement tables for some of the analysis queries.

* Use Flask `jsonify` to convert your api data into a valid json response object.

## Copyright

Coding Boot Camp Â© 2017. All Rights Reserved.

In [8]:
import datetime as dt
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify

# Use SQLAlchemy automap_base() to reflect your tables into classes
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table
Measurement = Base.classes.measurement

Station = Base.classes.station

# Create our session (link) from Python to the DB
#session = Session(engine)

cursor = connection.execute('select * from bar')


#################################################
# Flask Setup
#################################################
app = Flask(__name__)

In [ ]:
"""Return dates and temperature observations from the last year."""

year_ago = dt.date.today() - dt.timedelta(days =365)

prcp = session.query(Measurement.date, Measurement.prcp).\
                              filter(Measurement.date >year_ago).\
                               order_by(Measurement.date.desc()).all()

In [12]:
qo=session.query(Measurement.date, Measurement.prcp)

In [13]:
qo.column_descriptions

[{'aliased': False,
  'entity': sqlalchemy.ext.automap.measurement,
  'expr': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x17911441990>,
  'name': 'date',
  'type': TEXT()},
 {'aliased': False,
  'entity': sqlalchemy.ext.automap.measurement,
  'expr': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x17911441a40>,
  'name': 'prcp',
  'type': FLOAT()}]

In [14]:
query_object = session.query(Measurement.date, Measurement.prcp)

In [15]:
prcp = query_object.filter(Measurement.date >year_ago).\
                        order_by(Measurement.date.desc()).all()

In [19]:
[col["name"] for col in query_object.column_descriptions]

['date', 'prcp']

In [20]:
col_names = [col["name"] for col in query_object.column_descriptions]

In [24]:
pd.DataFrame(prcp, columns=col_names).set_index('date').to_dict()["prcp"]

{'2017-04-26': 0.22,
 '2017-04-27': 0.11,
 '2017-04-28': 0.79000000000000004,
 '2017-04-29': 0.0,
 '2017-04-30': 0.80000000000000004,
 '2017-05-01': 0.25,
 '2017-05-02': 0.0,
 '2017-05-03': 0.01,
 '2017-05-04': 0.0,
 '2017-05-05': 0.10000000000000001,
 '2017-05-06': 0.0,
 '2017-05-07': 0.029999999999999999,
 '2017-05-08': 1.1100000000000001,
 '2017-05-09': 0.23000000000000001,
 '2017-05-10': 0.55000000000000004,
 '2017-05-11': 0.44,
 '2017-05-12': 0.10000000000000001,
 '2017-05-13': 0.10000000000000001,
 '2017-05-14': 1.0,
 '2017-05-15': 0.59999999999999998,
 '2017-05-16': 0.29999999999999999,
 '2017-05-17': 0.059999999999999998,
 '2017-05-18': 0.0,
 '2017-05-19': 0.01,
 '2017-05-20': 0.02,
 '2017-05-21': 0.0,
 '2017-05-22': 0.29999999999999999,
 '2017-05-23': 0.44,
 '2017-05-24': 2.1699999999999999,
 '2017-05-25': 0.88,
 '2017-05-26': 0.0,
 '2017-05-27': 0.5,
 '2017-05-28': 0.0,
 '2017-05-29': 0.40000000000000002,
 '2017-05-30': 1.1200000000000001,
 '2017-05-31': 0.25,
 '2017-06-01': 0.01,
 '2017-06-02': 0.089999999999999997,
 '2017-06-03': 0.080000000000000002,
 '2017-06-04': 0.81999999999999995,
 '2017-06-05': 0.01,
 '2017-06-06': 0.0,
 '2017-06-07': 0.01,
 '2017-06-08': 0.0,
 '2017-06-09': 0.02,
 '2017-06-10': 0.62,
 '2017-06-11': 0.69999999999999996,
 '2017-06-12': 0.81000000000000005,
 '2017-06-13': 0.65000000000000002,
 '2017-06-14': 0.81000000000000005,
 '2017-06-15': 1.6899999999999999,
 '2017-06-16': 0.10000000000000001,
 '2017-06-17': 0.10000000000000001,
 '2017-06-18': 0.69999999999999996,
 '2017-06-19': 0.40000000000000002,
 '2017-06-20': 0.31,
 '2017-06-21': 0.29999999999999999,
 '2017-06-22': 0.28000000000000003,
 '2017-06-23': 0.5,
 '2017-06-24': 0.22,
 '2017-06-25': 0.5,
 '2017-06-26': 0.02,
 '2017-06-27': 0.10000000000000001,
 '2017-06-28': 0.02,
 '2017-06-29': 0.040000000000000001,
 '2017-06-30': 0.20000000000000001,
 '2017-07-01': 0.10000000000000001,
 '2017-07-02': 0.5,
 '2017-07-03': 0.40000000000000002,
 '2017-07-04': 0.0,
 '2017-07-05': 0.0,
 '2017-07-06': 0.02,
 '2017-07-07': 0.29999999999999999,
 '2017-07-08': 0.02,
 '2017-07-09': 0.0,
 '2017-07-10': 0.02,
 '2017-07-11': 0.0,
 '2017-07-12': 0.050000000000000003,
 '2017-07-13': 0.68000000000000005,
 '2017-07-14': 0.68000000000000005,
 '2017-07-15': 0.10000000000000001,
 '2017-07-16': 0.5,
 '2017-07-17': 0.39000000000000001,
 '2017-07-18': 2.3999999999999999,
 '2017-07-19': 0.27000000000000002,
 '2017-07-20': 0.69999999999999996,
 '2017-07-21': 0.10000000000000001,
 '2017-07-22': 4.0,
 '2017-07-23': 0.80000000000000004,
 '2017-07-24': 0.83999999999999997,
 '2017-07-25': 0.29999999999999999,
 '2017-07-26': 0.29999999999999999,
 '2017-07-27': 0.0,
 '2017-07-28': 0.40000000000000002,
 '2017-07-29': 0.29999999999999999,
 '2017-07-30': 0.29999999999999999,
 '2017-07-31': 0.0,
 '2017-08-01': 0.0,
 '2017-08-02': 0.25,
 '2017-08-03': 0.059999999999999998,
 '2017-08-04': 0.0,
 '2017-08-05': 0.059999999999999998,
 '2017-08-06': 0.0,
 '2017-08-07': 0.050000000000000003,
 '2017-08-08': 0.34000000000000002,
 '2017-08-09': 0.14999999999999999,
 '2017-08-10': 0.070000000000000007,
 '2017-08-11': 0.0,
 '2017-08-12': 0.14000000000000001,
 '2017-08-13': 0.0,
 '2017-08-14': 0.22,
 '2017-08-15': 0.41999999999999998,
 '2017-08-16': 0.41999999999999998,
 '2017-08-17': 0.13,
 '2017-08-18': 0.059999999999999998,
 '2017-08-19': 0.089999999999999997,
 '2017-08-20': 0.01,
 '2017-08-21': 0.56000000000000005,
 '2017-08-22': 0.5,
 '2017-08-23': 0.45000000000000001}

In [50]:
query_object = session.query(Station)

In [51]:
stations = query_object.all()

In [52]:
stations

[<sqlalchemy.ext.automap.station at 0x17911467cf8>,
 <sqlalchemy.ext.automap.station at 0x179115da470>,
 <sqlalchemy.ext.automap.station at 0x179115da518>,
 <sqlalchemy.ext.automap.station at 0x179115da978>,
 <sqlalchemy.ext.automap.station at 0x179115da668>,
 <sqlalchemy.ext.automap.station at 0x179115da5f8>,
 <sqlalchemy.ext.automap.station at 0x179115da7f0>,
 <sqlalchemy.ext.automap.station at 0x179115da6a0>,
 <sqlalchemy.ext.automap.station at 0x179115dafd0>]

In [29]:
col_names = [col["name"] for col in query_object.column_descriptions]

In [30]:
 all_stations = pd.DataFrame(stations, columns=col_names).to_dict()

In [36]:
st = stations[0]

In [37]:
st.name

'WAIKIKI 717.2, HI US'

In [38]:
cursor = conn.execute("select * from station")

In [39]:
stations = cursor.fetchall()

In [45]:
Station.

In [44]:
stations

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [57]:
query_object = session.query(Station.id, Station.station, Station.name, Station.latitude, Station.longitude)

prcp = query_object.all()
col_names = [col["name"] for col in query_object.column_descriptions]

all_prcp = pd.DataFrame(prcp, columns=col_names)

In [65]:
[row.to_dict() for i,row in all_prcp.iterrows()]

[{'id': 1,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'name': 'WAIKIKI 717.2, HI US',
  'station': 'USC00519397'},
 {'id': 2,
  'latitude': 21.4234,
  'longitude': -157.8015,
  'name': 'KANEOHE 838.1, HI US',
  'station': 'USC00513117'},
 {'id': 3,
  'latitude': 21.5213,
  'longitude': -157.8374,
  'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US',
  'station': 'USC00514830'},
 {'id': 4,
  'latitude': 21.3934,
  'longitude': -157.9751,
  'name': 'PEARL CITY, HI US',
  'station': 'USC00517948'},
 {'id': 5,
  'latitude': 21.4992,
  'longitude': -158.0111,
  'name': 'UPPER WAHIAWA 874.3, HI US',
  'station': 'USC00518838'},
 {'id': 6,
  'latitude': 21.33556,
  'longitude': -157.71139,
  'name': 'WAIMANALO EXPERIMENTAL FARM, HI US',
  'station': 'USC00519523'},
 {'id': 7,
  'latitude': 21.45167,
  'longitude': -157.84888999999995,
  'name': 'WAIHEE 837.5, HI US',
  'station': 'USC00519281'},
 {'id': 8,
  'latitude': 21.3152,
  'longitude': -157.9992,
  'name': 'HONOLULU OBSERVATORY 702.2, HI US',
  'station': 'USC00511918'},
 {'id': 9,
  'latitude': 21.3331,
  'longitude': -157.8025,
  'name': 'MANOA LYON ARBO 785.2, HI US',
  'station': 'USC00516128'}]

In [ ]:
#Return a json list of Temperature Observations (tobs) for the previous year

@app.route("/api/v1.0/tobs")
    def temp_monthly
    prev_year = dt.date.today() - dt.timedelta(days=365)
    
    results = session.query(Measurement.tobs).\
        filter(Measurement.station == 'USC00519289').\
        filter(Measurement.date >= prev_year).all()
        
    temps = list(np.ravel(results))
    
    return jsonify(temps)

In [ ]:
# Return a json list of the minimum temperature, the average temperature, and the max temperature for a given start or start-end range.

# When given the start only, calculate TMIN, TAVG, and TMAX for all dates greater than and equal to the start date.

# When given the start and the end date, calculate the TMIN, TAVG, and TMAX for dates between the start and end date inclusive.

@app.route("/api/v1.0/<start> and /api/v1.0/<start>")
@app.route("/api/v1.0/<start> and /api/v1.0/<start>/<end>")
def starts(start=None, end=None):
    
    sel = (func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs))
    
    if not end:
        results = session.query(*sel).\
            filter(Measurement.date >= start).all()
            temps = list(np.ravel(results))
            return jsonify(temps)
        
        results = session.query(*sel).\
            filter(Measurement.date >= start).\
            filter(Measurement.date <= end).all()
            temps = list(np.ravel(results))
            return jsonify(temps)
        
    if __name__ == '__main__':
        app.run()